{% extends"layout.html" %}
{% block content %}
	<div class="center">
		<svg width="200" height="200"
  		xmlns="http://www.w3.org/2000/svg">
 		<image href="https://mdn.mozillademos.org/files/6457/mdn_logo_only_color.png" height="200" width="200"/>
		</svg>
		<h4>
            <p>Upload the image and get results.</p>
        </h4>
    <form method="POST" enctype="multipart/form-data" action={{ url_for("upload_image_file") }}>
        <input type="file" name="file" accept="image/*" >
        &emsp;&emsp;&emsp; <input type="submit" value="Upload" name="submit">
    </form>
	</div>
{% endblock %}
